@use '../utilities' as *;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

html {
    font-size: 18px;
}

body {
    min-height: 100vh;
    font-family: $ff-primary;
}