@use '../utilities/variables' as *;

/* Navigation */
@keyframes nav-in {
    0% {
        visibility: visible;
        transform: translateX(-150%);
        opacity: 0;
    }
    100% {
        visibility: visible;
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes nav-out {
    0% {
        visibility: visible;
        transform: translateX(-50%);
        opacity: 1;
    }
    100% {
        visibility: visible;
        transform: translateX(150%);
        opacity: 0;
    }
}

/* Footer */
@keyframes socialRotate {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes socialIconColor {
    0% {
        color: $c-white;
    }
    100% {
        color: $c-green-lime;
    }
}