@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#2d314d, transparent);
    transition: opacity 300ms ease-in;
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}