@use '../utilities/' as *;

.footer {
    $root: &;

    background-color: $c-blue-dark;
    padding: 41px 24px;

    &__container {
        display: grid;
        justify-content: center;
        gap: 31px;
    }

    &__logo {
        display: flex;
        justify-content: center;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 14px;
        font-size: 1.4rem;
    }

    &__nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        gap: 19px;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        flex-flow: column;
        gap: 16px;
    }

    &__nav-item {
        color: $c-white;
        font-size: 0.805rem;
    }

    &__nav-link {
        color: inherit;
    }

    &__cta {
        justify-self: center;
    }
}