@use '../utilities/' as *;

/* body {
    background-image: url('../../design/desktop-design.jpg');
    background-size: 1440px auto;
    opacity: 0.2;
} */

.footer {
    $root: &;

    background-color: $c-blue-dark;
    padding: 41px 24px;

    @include breakpoint('md') {
        padding: 46px 24px;
    }

    &__container {
        display: grid;
        justify-content: center;
        gap: 31px 0;

        @include breakpoint('md') {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "logo nav cta"
            "socials nav copy";
        }
        
        @include breakpoint('lg') {
            grid-template-columns: 1fr 1.5fr 1.4fr;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;

        @include breakpoint('md') {
            grid-area: logo;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 14px;
        font-size: 1.4rem;

        @include breakpoint('md') {
            grid-area: socials;  
            justify-content: flex-start;
            align-items: flex-start; 
            font-size: 1rem;
        }
    }

    &__nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        gap: 19px;

        @include breakpoint('md') {
            grid-area: nav;
            flex-flow: row;
            text-align: left;
            gap: 70px;
        }

        @include breakpoint('lg') {
            gap: 129px;
        }
    }

    &__nav-list {
        list-style: none;
        display: flex;
        flex-flow: column;
        gap: 16px;
    }

    &__nav-item {
        color: $c-white;
        font-size: 0.805rem;
    }

    &__nav-link {
        color: inherit;
    }

    &__cta {
        justify-self: center;

        @include breakpoint('md') {
            grid-area: cta;
            justify-self: end;
        }
    }

    &__copy {
        @include breakpoint('md') {
            grid-area: copy;
            justify-self: end;
        }
    }
}